<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="/i/favicon.ico" rel="icon" type="image/png" />
		<title>CMS</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
		<link rel="stylesheet" href="/i/cms/common.css">

	</head>
	<body>
		% if auth:
			<nav class="navbar navbar-expand-md navbar-light bg-light">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
				<div class="collapse navbar-collapse justify-content-md-center" id="navbars">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link" href="/cms/events/">События</a></li>
						<li class="nav-item"><a class="nav-link" href="/cms/schedule/">Расписание</a></li>
						<li class="nav-item"><a class="nav-link" href="/cms/teachers/">Преподаватели</a></li>
					</ul>
				</div>
			</nav>
		% endif
		<div class="container">
			<div class="row">
				% if auth:
					<div class="col">
						<div  style="margin:5rem auto; width:268px; opacity:.3;">
						<img src="http://cityofsthelena.org/sites/default/files/imageattachments/parksrec/page/681/yoga_girl.jpeg">
					</div>
					</div>
				% else:
					<div class="col">
						<p class="lead" style="margin:5rem 0 3rem; text-align:center;">Введите, пожалуйста, логин и пароль.</p>
						<form style="margin:0 auto; max-width:330px; text-align:center" method="POST">

							% if error == 2:
								<div class="alert alert-danger mb-4" role="alert" style="text-align:center;">Неверные логин или пароль!</div>
							% endif

							<input type="text" class="form-control mb-4" name="login" placeholder="Логин" autofocus="autofocus">
							<input type="password" class="form-control mb-4" name="password" placeholder="Пароль">
							<button type="submit" class="btn btn-primary">OK</button>
						</form>
					</div>
				% endif
				
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
		<script>
			(function () {
				'use strict'
				if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
					var msViewportStyle = document.createElement('style');
					msViewportStyle.appendChild(document.createTextNode('@-ms-viewport{width:auto!important}'));
					document.head.appendChild(msViewportStyle);
				}
			}())
		</script>
	</body>
</html>

