<%inherit file="../_base.html"/>

<%block name="main">
	<div class="container container-narrow container-tall">
		<div class="row row-title">
			<div class="col"><h1>Аромамассаж</h1></div>
		</div>
		<div class="row">
			<p>Аромамассаж — очень приятная процедура для тела и души. Запахи натуральных эфирных масел в сочетании с мягким массажем, целительно влияют на эмоциональное состояние человека, настраивают на позитивный лад, помогая привести тело в тонус или, наоборот, расслабиться. Во время массажа множество ценных компонентов в составе масла проникают сначала в кожу, а затем и ткани организма и достигают нервных окончаний, обеспечивая стимулирующее, противовоспалительное и восстановительное действие на органы, усиливая обменные процессы. Аромамассаж прекрасно влияет на работу нервной системы — быстро снимает симптомы хронической усталости, переутомления, бессоницы. Психоэмоциональный фон в целом приходит в равновесие. Благодаря аромамаслам состояние и тонус кожи заметно улучшается. Этот восхитительный массаж расслабляет, успокаивает, восстанавливает на физическом, психическом и энергетическом уровнях.</p>
		</div>
	</div>
</%block>
