<%inherit file="../_base.html"/>

<%block name="main">
	<div class="container container-narrow container-tall">
		<div class="row row-title">
			<div class="col"><h1>Классический массаж спины</h1></div>
		</div>
		<div class="row">
			<p>Классический массаж спины. Здоровая спина — залог здоровья для всего организма. Массаж спины благотворно влияет на все области — шейный отдел позвоночника, средний отдел и поясницу. Расслабляет мышцы, снимает спазмы и боли. Эффективен при остеохондрозе. проработка воротниковой зоны позволит избавиться от болей в области шеи, от головной боли. Постепенно уходят застойные явления — снимаются зажимы и мышечные блоки. Улучшается кровообращение и метаболизм. Массаж благотворно влияет на нервную систему. Для достижения хорошего терапевтического эффекта рекомендуется пройти курс из 5-8 сеансов частой 2 раза в неделю.</p>
		</div>
	</div>
</%block>
