<%inherit file="../_base.html"/>

<%block name="main">
	<div class="container container-narrow container-tall">
		<div class="row row-title">
			<div class="col"><h1>Медовый массаж</h1></div>
		</div>
		<div class="row">
			<p>Мед обладает уникальными целительными свойствами. Он отдает организму биологически активные компоненты, абсорбирует шлаки и токсины, а также способствует их быстрому выведению из организма. Мед мгновенно проникает в ткани и ускоряет все обменные процессы. Благодаря противомикробным и питательным свойствам меда такой массаж хорошо применять в профилактике простудных заболеваний и укрепления иммунитета. Мед хорошо помогает при радикулите, ревматизме и остеохондрозе — снимает воспаление и боль. Хорошо помогает в борьбе с целлюлитом и лишним весом — отлично налаживает обменные процессы в организме, усиливает лимфоток и кровообращение. Медовый массаж хорошо снимает стресс и накопленную усталость. Техника медового массажа заключается в растирании нужных участков тела массажным маслом для расслабления мышц, после чего обмакивают руки в медовую смесь и резкими хлопающими движениями прорабатывают-массируют тело, в результате ткани и кожа заметно подтягиваются и приходят в тонус.</p>
		</div>
	</div>
</%block>
