<%inherit file="../_base.html"/>

<%block name="main">
	<div class="container container-narrow container-tall">
		<div class="row row-title">
			<div class="col"><h1>Массаж</h1></div>
		</div>
		<div class="row">
			<div class="col"><p style="margin-bottom:2rem">Прекрасная возможность позаботиться о своем теле, а в сочетании с занятиями йогой — массаж дает просто превосходный результат. По вторникам, четвергам и субботам — замечательный, опытный, профессиональнейший мастер Татьяна Мартышева — детально проработает все мышцы, снимая неприятные блоки и зажимы. Массаж поможет избавиться от симптомов хронической усталости, нарушений сна, осенне-зимней хандры. Пройдут боли в спине, появится ощущение легкости, расслабления и спокойствия. Татьяна сонастроит ваше тело, душу и разум до единого равновесного, гармоничного состояния.</p></div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<figure class="figure">
					<img src="/i/massage.jpg" class="figure-img img-fluid rounded">
					<figcaption class="figure-caption"><big>Массажист — Татьяна Мартышева.</big></figcaption>
				</figure>
			</div>
			<div class="col-md-6">
				<table class="table">
					<tr>
						<td><a href="classical">Классический массаж спины</a></td>
						<td style="white-space:nowrap">40 минут</td>
						<td style="white-space:nowrap">2000 ₽</td>
					</tr>
					<tr>
						<td rowspan="2"><a href="sports">Спортивный массаж</a></td>
						<td>60 минут</td>
						<td>3000 ₽</td>
					</tr>
					<tr>
						<td>90 минут</td>
						<td>3500 ₽</td>
					</tr>
					<tr>
						<td><a href="general">Общий массаж</a></td>
						<td>60 минут</td>
						<td>2500 ₽</td>
					</tr>
					<tr>
						<td>Общий массаж с элементами <a href="creole">креольского</a> и <a href="honey">медового</a> массажей</td>
						<td>60 минут</td>
						<td>3000 ₽</td>
					</tr>
					<tr>
						<td><a href="lymphatic">Лимфодренаж</a></td>
						<td>60 минут</td>
						<td>3200 ₽</td>
					</tr>
					<tr>
						<td rowspan="2"><a href="modeling">Моделирующий, антицеллюлитный массаж</a></td>
						<td>60 минут</td>
						<td>3200 ₽</td>
					</tr>
					<tr>
						<td>90 минут</td>
						<td>3700 ₽</td>
					</tr>
					<tr>
						<td><a href="aroma">Аромамассаж</a></td>
						<td>60 минут</td>
						<td>3000 ₽</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</%block>
