<%inherit file="../_base.html"/>

<%block name="main">
	<div class="container container-narrow container-tall">
		<div class="row row-title">
			<div class="col"><h1>Массаж</h1></div>
		</div>
		<div class="row">
			<div class="col"><p style="margin-bottom:2rem">Массаж благотворно воздействует на весь организм, налаживает работу органов и систем, улучшает кровообращение, способствует выведению шлаков и токсинов, ускоряет обмен веществ, кожное дыхание, усиливается циркуляция лимфы, увеличивается отток венозной крови, устраняются спазмированные места и зажимы. Массаж помогает справиться со стрессом и синдромом хронической усталости, снять напряжение, расслабиться и повысить в целом свой жизненный тонус. Может быть как лечебным, так и общеоздоровительным и корректирующим.</p></div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<figure class="figure">
					<img src="/i/massage.jpg" class="figure-img img-fluid rounded">
					<figcaption class="figure-caption"><big>Массажист — Татьяна Мартышева.</big></figcaption>
				</figure>
			</div>
			<div class="col-md-6">
				<table class="table">
					<tr>
						<td><a href="classical">Классический массаж спины</a></td>
						<td style="white-space:nowrap">40 минут</td>
						<td style="white-space:nowrap">2000 ₽</td>
					</tr>
					<tr>
						<td rowspan="2"><a href="sports">Спортивный массаж</a></td>
						<td>60 минут</td>
						<td>3000 ₽</td>
					</tr>
					<tr>
						<td>90 минут</td>
						<td>3500 ₽</td>
					</tr>
					<tr>
						<td><a href="general">Общий массаж</a></td>
						<td>60 минут</td>
						<td>2500 ₽</td>
					</tr>
					<tr>
						<td>Общий массаж с элементами <a href="creole">креольского</a> и <a href="honey">медового</a> массажей</td>
						<td>60 минут</td>
						<td>3000 ₽</td>
					</tr>
					<tr>
						<td><a href="lymphatic">Лимфодренаж</a></td>
						<td>60 минут</td>
						<td>3200 ₽</td>
					</tr>
					<tr>
						<td rowspan="2"><a href="modeling">Моделирующий, антицеллюлитный массаж</a></td>
						<td>60 минут</td>
						<td>3200 ₽</td>
					</tr>
					<tr>
						<td>90 минут</td>
						<td>3700 ₽</td>
					</tr>
					<tr>
						<td><a href="aroma">Аромамассаж</a></td>
						<td>60 минут</td>
						<td>3000 ₽</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</%block>
