<%inherit file="../_base.html"/>

<%block name="main">
	<div class="container container-narrow container-tall">
		<div class="row row-title">
			<div class="col"><h1>Лимфодренаж</h1></div>
		</div>
		<div class="row">
			<p>Французский лимфодренаж — лимфодренажная и противоотечная методика, изобретенная французским физиотерапевтом Паскалем Кошем. Суть массажа заключается в манипуляции массажными движениями на тело человека по линиям лимфотока, при этом воздействие идет на жировые клетки и подкожные жировые ткани, но не затрагивает мышцы. Техника массажа состоит из щипковых, разминающих и растягивающих приемов в результате чего снимаются отеки, подтягивается кожа, активно выходят шлаки и токсины из организма, улучшается кровообращение. Воздействие на подкожно-жировую клетчатку эффективно помогает избавиться от целлюлита и лишних жировых отложений, скорректировать фигуру и контур тела.</p>
		</div>
	</div>
</%block>
