<%inherit file="../_base.html"/>

<%block name="main">
	<div class="container container-narrow container-tall">
		<div class="row row-title">
			<div class="col"><h1>Моделирующий массаж</h1></div>
		</div>
		<div class="row">
			<p>Моделирующий массаж тела — техника ручной коррекции с целью устранения небольших недостатков фигуры. С помощью этого массажа активно прорабатываются проблемные зоны — талия, живот, ягодицы, бедра, зона галифе. В результате, за счет нормализации кровообращения, лимфотока — в организме запускаются обменные процессы, устраняется венозный застой, укрепляется тонус кожи. Данная техника массажа достаточно быстро и эффективно приводит к видимым результатам. Курс процедур поможет избавиться от нескольких лишних сантиметров в проблемных зонах, сгладит целлюлит и растяжки, проработает фигуру после родов. За короткий промежуток времени фигура приобретет утонченный силуэт, станет более женственной и подтянутой.</p>
		</div>
	</div>
</%block>
