<%inherit file="../_base.html"/>

<%block name="main">
	<div class="container container-narrow container-tall">
		<div class="row row-title">
			<div class="col"><h1>Спортивный массаж</h1></div>
		</div>
		<div class="row">
			<p>Спортивный массаж направлен на поддержание хорошей психофизиологической формы. Это отличное средство восстановления до и после спортивных тренировок. Посредством спортивного массажа происходит восстановление физического тонуса мышц, идет воздействие на центральную нервную систему — массаж может оказывать как возбуждающее так и успокаивающее действие, в зависимости от поставленной цели. Применяемая техника массажа хорошее средство подготовки к тренировкам или соревнованиям, максимально восстанавливает функциональное состояние мышц, суставов, кожи. Усовершенствует и удерживает рабочую физическую форму. Хорошо восстанавливает после травм и растяжений.</p>
		</div>
	</div>
</%block>
