<%inherit file="_base.html"/>

<%block name="main">
	<div class="container container-narrow container-tall">
		<div class="row row-title">
			<div class="col"><h1>Йога классы</h1></div>
		</div>
		<div class="row">
			<div class="col">
				<p><b><span style="font-family:'Playfair Display 5', serif;">Inside</span></b>&amp;<i><span style="font-family:'Playfair Display 5', serif;">Out</span></i>&nbsp;&mdash; небольшое, но&nbsp;уютное и&nbsp;дружелюбное современное пространство, которое располагает всем необходимым для занятий различными видами йоги и&nbsp;медитацией. Для нас йога&nbsp;&mdash; это прежде всего бережная и&nbsp;эффективная работа с&nbsp;телом и&nbsp;умом.</p>
				<p>Идеальная практика, которая оттачивала свои техники на&nbsp;протяжении тысяч лет, для того, чтобы находиться в&nbsp;гармоничном контакте с&nbsp;самим собой. Попробуйте вместе с&nbsp;нами&nbsp;и, возможно, вы&nbsp;почувствуете, что это ваш путь к&nbsp;здоровью, долголетию и&nbsp;красоте.</p>
			</div>
		</div>
	</div>
	<div class="container-fluid container-tall" id="yoga">
		<div class="row row-title">
			<div class="col"><h1>Направления йоги</h1></div>
		</div>
		<div class="row no-gutters row-yoga">
			<div class="col-xl-4">
				<div style="background:rgba(55,55,55,0.82); margin:100px 100px 0 100px; height:200px; opacity:.85;"></div>
				<h2 style="position: relative; top:-150px;"><small>Практика</small><br>Направления йоги</h2>
			</div>
			<div class="col-xl-8 col-lg-12">
				<div class="row no-gutters">
					<div class="col-sm-6 col-md-4 col-xl-3">
						<div class="flipper">
							<div class="f" style="background-image: url(i/icon-hatha.png)" ontouchstart="this.classList.toggle('hover');">
								<b>Хатха йога</b>
							</div>
							<div class="b">
								<span><b>Хатха йога</b><br>комплекс асан, позволяющий оздоровить тело и умиротворить разум, стабилизировать дисбаланс жизненной силы в организме с помощью простых физических, дыхательных и медитативных упражнений.</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-xl-3">
						<div class="flipper vertical">
							<div class="f" style="background-image: url(i/icon-morning.png)" ontouchstart="this.classList.toggle('hover');">
								<b>Утренний комплекс</b>
							</div>
							<div class="b">
								<span><b>Утренний комплекс</b><br>Оптимальный ритм тренировки не требует излишнего напряжения, но приводит в тонус все группы мышц, выравнивает дыхание, растягивает позвоночник и создает настроение на весь день.</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-xl-3">
						<div class="flipper">
							<div class="f" style="background-image: url(i/icon-fly.png)" ontouchstart="this.classList.toggle('hover');">
								<b>Антигравити</b>
							</div>
							<div class="b">
								<span><b>Антигравити</b><br>Йога в невесомости — лечебная практика в освоении новых граней возможностей собственного тела. Ощущение полета, эстетика и эмоциональный подъем.</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-xl-3">
						<div class="flipper">
							<div class="f" style="background-image: url(i/icon-gong.png)" ontouchstart="this.classList.toggle('hover');">
								<b>Гонг и поющие чаши</b>
							</div>
							<div class="b">
								<span><b>Гонг и поющие чаши</b><br>Древнейшие звукотерапевтические инструменты. Погружение в гонг-медитацию приносит массу положительных эмоций, пробуждает творческие силы, гармонизирует тело, душу и разум.</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-xl-3">
						<div class="flipper vertical">
							<div class="f" style="background-image: url(i/icon-ayengara.png)" ontouchstart="this.classList.toggle('hover');">
								<b>Йога Айенгара</b>
							</div>
							<div class="b">
								<span><b>Йога Айенгара</b><br>Метод йоготерапии, в котором детально отстраивается каждая поза и выдерживается более длительное время. Статичность асан позволяет находиться в максимальном контакте со своим телом и достигать умиротворения ума.</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-xl-3">
						<div class="flipper">
							<div class="f" style="background-image: url(i/icon-pranayama.png)" ontouchstart="this.classList.toggle('hover');">
								<b>Дыхательная практика</b>
							</div>
							<div class="b">
								<span><b>Дыхательная практика</b><br>Пранаяма — наука дышать. Комплекс дыхательных упражнений очищает легкие, пазухи носа, проясняет ум, придает силы всему телу, стимулирует работу внутренних органов.</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-xl-3">
						<div class="flipper vertical">
							<div class="f" style="background-image: url(i/icon-teenage.png)" ontouchstart="this.classList.toggle('hover');">
								<b>Йога для подростков</b>
							</div>
							<div class="b">
								<span><b>Йога для подростков</b><br>Динамичный юношеский йога класс, с элементами растяжки, антигравити и силовых асан для улучшения осанки, гибкости и укрепления мышц.</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-xl-3">
						<div class="flipper">
							<div class="f" style="background-image: url(i/icon-strech.png)" ontouchstart="this.classList.toggle('hover');">
								<b>Аштанга йога</b>
							</div>
							<div class="b">
								<span><b>Аштанга-виньясана-йога</b><br>Современное направление йоги, для тех, кто ищет динамичную, активную и энергичную практику с силовыми элементами и особой техникой дыхания.</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container container-narrow container-tall">
		<div class="row row-title">
			<div class="col"><h1>Индивидуальная психотерапия</h1></div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<p>Психотерапия в&nbsp;пространстве нашей студии&nbsp;&mdash; еще один из&nbsp;возможных путей обретения внутреннего опыта, целостности и&nbsp;пробуждающих переживаний, которые вносят целительные изменения в&nbsp;сознание, отношения и&nbsp;жизнь.</p>
				<p>Это многогранный инструмент для глубокой работы со&nbsp;своими чувствами. В&nbsp;безопасной и&nbsp;доверительной атмосфере&nbsp;вы можете получить квалифицированную помощь профессионального психолога по&nbsp;любым беспокоящим вас вопросам.</p>
				<center><p><a href="/psychotherapy/">Подробнее о психотерапии</a></p></center>
			</div>
		</div>
	</div>
	<div class="container container-narrow container-tall">
		<div class="row row-title">
			<div class="col"><h1>Массаж</h1></div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<p>Массаж благотворно воздействует на весь организм, налаживает работу органов и систем, улучшает кровообращение, способствует выведению шлаков и токсинов, ускоряет обмен веществ, кожное дыхание, усиливается циркуляция лимфы, увеличивается отток венозной крови, устраняются спазмированные места и зажимы. Массаж помогает справиться со стрессом и синдромом хронической усталости, снять напряжение, расслабиться и повысить в целом свой жизненный тонус. Может быть как лечебным, так и общеоздоровительным и корректирующим.</p>
				<center><p><a href="/massage/">Подробнее о массаже</a></p></center>
			</div>
		</div>
	</div>
	<div class="container container-narrow container-tall">
		<div class="row row-title">
			<div class="col"><h1>События</h1></div>
		</div>
		<div class="row">
			<div id="events" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					% for event in events:
						<div class="carousel-item ${'active' if loop.index == 0 else ''}" onclick="window.location.href='${event.uri}'">
							<img class="d-block w-100" src="${event.photo}">
							<div class="carousel-caption"><h3>${event.title}</h3></div>
						</div>
					% endfor
				</div>
				<a class="carousel-control-prev" href="#events" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Назад</span>
				</a>
				<a class="carousel-control-next" href="#events" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Дальше</span>
				</a>
			</div>
		</div>
	</div>
</%block>
