<%inherit file="_base.html"/>

<%block name="main">
	<div class="container container-narrow container-tall">
		<div class="row row-title">
			<div class="col"><h1>Психотерапия</h1></div>
		</div>
		<div class="row row-teacher">
			<div class="col-md-6 col-introduction">
				<img src="/i/psychotherapy1.png" alt="Валерия Манухина" class="img-fluid">
				<h2>Валерия Манухина</h2>
				<p>клинический психолог, патопсихолог, психосоматолог, преподаватель психологии.</p>
				<h3>Образование</h3>
				<p>2006 г. — МГУ им. Ломоносова, факультет Психологии, кафедра нейро- и патопсихологии.</p>
			</div>
			<div class="col-md-6 col-description">
				<h3><span>Опыт работы</span></h3>
				<p>2008 г. — работа с пациентами в отделении восстановительного лечения в центре хирургии им. Пирогова.</p>
				<p>2010 г. — частная практика.</p>
				<h3><span>О своей работе</span></h3>
				<p>Индивидуальное консультирование взрослых.</p>
				<p>Работаю методами глубинной терапии через осознавание семейных, родовых унаследованных программ и паттернов поведения.</p>
				<p>Проблемы в отношениях с близкими людьми: трудности в отношениях с партнером, в общении с детьми, с родителями. Работа с повторяющимся семейными сценариями, эмоциональными зависимостями. </p>
				<p>Переживание травматического опыта разного рода.</p>
				<p>Работа с эмоциональными переживаниями: депрессия, страх, одиночество, обида, тревога, вина, стыд.</p>
				<p>Личностные кризисы, потеря смысла жизни, тяжелые жизненные ситуации.</p>
				<p>Личностная и профессиональная эффективность, повышение эмоциональной устойчивости, вопросы самоопределения и самореализации во всех сферах жизни.</p>
			</div>
		</div>
		<div class="row row-teacher">
			<div class="col-md-6 col-introduction">
				<img src="/i/psychotherapy2.png" alt="Уваров Денис Борисович" class="img-fluid">
				<h2>Уваров Денис Борисович</h2>
				<p>клинический психолог, патопсихолог, преподаватель психологии.</p>
				<h3>Образование</h3>
				<p>2006 — МГУ им. Ломоносова, Факультет Психологии, кафедра нейро- и патопсихологии специалист; В настоящее время занят написанием диссертации на соискание ученой степени кандидата психологических наук.</p>
				<p>1999 — МГУ им. Ломоносова, Институт Стран Азии и Африки/историк ориенталист со знанием восточного языка, бакалавр.</p>
			</div>
			<div class="col-md-6 col-description">
				<h3><span>Опыт практической работы</span></h3>
				<p>С 2006 клинический психолог в государственном центре пограничных состояний, специализирующемся на оказании консультативно-диагностической и лечебно-реабилитационной помощи пациентам, страдающим пограничными психическими расстройствами.</p>
				<p>С 2012 года приглашенный специалист ведущей частной наркологической клиники, специализирующейся на работе с химически зависимыми пациентами.</p>
				<p>С 2007 образовательные организации Москвы, преподаватель психологии, ведение тренингов и групповой терапии. </p>
				<h3><span>Основное направление</span></h3>
				<p>Индивидуальная психокоррекция невротических и психосоматических расстройств, депрессивных, тревожных и навязчивых состояний, эмоциональной зависимости.</p>
				<h3><span>Сфера профессиональных научных интересов</span></h3>
				<p>Современный психоанализ, психосоматика, психология телесности, культура и патология.</p>
			</div>
		</div>
	</div>
</%block>
