<%inherit file="_base.html"/>

<%block name="main">
	<div class="container container-narrow container-tall">
		<div class="row row-title">
			<div class="col"><h1><small>Стоимость</small><br>Групповые занятия</h1></div>
		</div>
		<div class="row">
			<div class="col">
				<table class="content">
					<tr>
						<td>1300 ₽</td>
						<td>Разовое посещение группового занятия</td>
					</tr>
					<tr>
						<td>1500 ₽</td>
						<td>Антигравити-йога: разовое посещение группового занятия</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
	<div class="container container-narrow container-tall">
		<div class="row row-title">
			<div class="col"><h2>Индивидуальные занятия</h2></div>
		</div>
		<div class="row">
			<div class="col">
				<table class="content">
					<tr>
						<td>4000 ₽</td>
						<td>Индивидуальное занятие с преподавателем (до 3-х человек)</td>
					</tr>
					<tr>
						<td>5000 ₽</td>
						<td>Индивидуальный сеанс виброакустического массажа с поющими чашами</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="container container-narrow container-tall">
		<div class="row row-title">
			<div class="col"><h2>Групповые абонементы</h2></div>
		</div>
		<div class="row">
			<div class="col">
				<table class="content">
					<tr>
						<td>6000 ₽<br><small>(1200 ₽ — 1 класс)</small></td>
						<td>Групповой абонемент на 5 занятий (действителен в течение месяца)</td>
					</tr>
					<tr>
						<td>11000 ₽<br><small>(1100 ₽ — 1 класс)</small></td>
						<td>Групповой абонемент на 10 занятий (действителен в течение двух месяцев)</td>
					</tr>
					<tr>
						<td>6500 ₽<br><small>(1300 ₽ — 1 класс)</small></td>
						<td>Антигравити: групповой абонемент на 5 занятий</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="container container-narrow container-tall">
		<div class="row">
			<div class="col">
				<table class="content">
					<tr>
						<td>3500 ₽</td>
						<td>Психологическое консультирование</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="container container-narrow container-tall">
		<div class="row row-title">
			<div class="col"><h2>Аренда зала</h2></div>
		</div>
		<div class="row">
			<div class="col" style="text-align: center;">
				<p>Уточняйте по телефону студии <a href="tel:+79267632643" style="white-space:nowrap">+7 (926) 763-26-43</a>.</p>
			</div>
		</div>
	</div>

</%block>